<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Feedback</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Feedback Submissions</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in feedback_list %}
                <tr>
                    <td>{{ feedback.id }}</td>
                    <td>{{ feedback.user }}</td>
                    <td>{{ feedback.content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
